hwclient/hwclient
hwserver/hwserver
msgqueue/msgqueue
mspoller/mspoller
msreader/msreader
rrbroker/rrbroker
rrclient/rrclient
rrworker/rrworker
tasksink/tasksink
tasksink2/tasksink2
taskvent/taskvent
taskwork/taskwork
taskwork2/taskwork2
wuclient/wuclient
wuproxy/wuproxy
wuserver/wuserver
