hwclient/hwclient
hwserver/hwserver
mspoller/mspoller
msreader/msreader
rrbroker/rrbroker
rrclient/rrclient
rrworker/rrworker
tasksink/tasksink
taskvent/taskvent
taskwork/taskwork
wuclient/wuclient
wuserver/wuserver
